nav {
  padding: 20px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  transition: color 0.3s ease;
  position: relative;
}

nav > ul > li > a::before,
nav > ul > li > a::after {
  content: "";
  color: #a86cff;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: inline-block;
  transform: translateX(0);
}

nav > ul > li > a::before {
  content: "{";
  margin-right: 5px;
  transform: translateX(-5px);
}

nav > ul > li > a::after {
  content: "}";
  margin-left: 5px;
  transform: translateX(5px);
}

nav > ul > li > a:hover::before,
nav > ul > li > a:hover::after {
  opacity: 1;
  transform: translateX(0);
}

nav > ul > li > a:hover {
  color: #a86cff;
}

/* Tablets (de 768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    min-height: 50vh;
  }
}

/* Móviles (hasta 767px) */
@media (max-width: 767px) {
  nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
