:root {
}

/* ===============================
   GLOBAL STYLES
   =============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0b0d10;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
  cursor: none !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

section {
  padding: 20px 120px;
  position: relative;
  z-index: 1;
}
/* Móviles (hasta 767px) */
@media (max-width: 767px) {
  p,
  h4,
  div > a,
  span,
  span > .muted,
  span > .estudiante {
    text-align: center;
  }
}

/* === CURSOR SVG CON TEXTO CIRCULAR === */

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-svg {
  width: 100px;
  height: 100px;
  animation: spin 10s linear infinite;
}

.circle-text {
  font-size: 8px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  fill: white; /* cambia el color si es necesario */
}

/* animación de rotación */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* punto central opcional */
.custom-cursor::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .custom-cursor {
    display: none !important;
  }

  body {
    cursor: auto !important;
  }
}
